.border-recipe-primary {
    border: 2px solid #01BFBF;
}

.img-recipe-detail {
    max-width: 441px;
    max-height: 250px;
}

.w-detail {
    width: 600px;
}

.w-recipe-80 {
    width: 700px;
}

.favorite-section {
    display: inline;
}

@media(max-width: 576px){
    .hidden-element {
        display: none;
    }
}

