.bg-recipe-primary {
    background-color: #F49881;
    padding: 0 12rem 0 12rem;
    height: 4rem;
    width: 100%;
    font-weight: 800;
}

.container-fluid {
    margin: 0 10% 0 10%;
    cursor: pointer;
}

.liv-nav .link-underline {
    color: #01BFBF;
    cursor: pointer;
}

.link-recipe-primary {
    color: #01BFBF;
}

.navbar-toggler {
    border: none;
    color: #fff;
    margin: 0%;
}
