.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination-button {
    background-color: transparent;
    color: #01BFBF;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 50%;
}

.pagination-button:hover {
    background-color: #f0f0f0;
    background-color: #f0f0f0;
    color: #01BFBF;
}

.pagination-button.selected-pagination {
    background-color: #01BFBF;
    background-color: #01BFBF;
    color: #fff;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .pagination-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .pagination-button {
        background-color: transparent;
        color: #01BFBF;
        border: none;
        cursor: pointer;
        margin: 0;
        border-radius: 50%;
    }
}