 /* layout */
 .layout-style {
    background-color: #F0F9F9;
    font-family: mulish;
    font-size: 14px;
    padding-bottom: 2.5rem;
    width: 100%;
}

/* btn-primary  */
.btn-primary {
    width: 100%;
    background-color: #01BFBF;
    border-color: #01BFBF;
    font-size: 14px;
}

/* app layout */
.offcanvas {
    width: 100%;
}

/* Untuk menyusun kontennya agar tetap rapi */
.offcanvas-body {
    padding: 15px;
}

/* button add recipe */
.btn-add {
    background: #01BFBF;
    width: 12rem;
    font-size: 14px;
}

/* RESPONSIVE */
@media (min-width: 768px) {
    .w-max-md {
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .entries-paginate-container {
        background: white;
        display: block;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }

    .bg-recipe-primary-offcanvas {
        background-color: #F49881;
        padding: 1rem;
        width: 50%;
        font-weight: 800;
    }
}


@media(max-width: 576px){
    .custom-fontsize-title {
        font-size: 16px;
    }
    .custom-fontsize-subtitle {
        font-size: 22px;
    }
    .custom-fontsize-content1 {
        font-size: 14px;
    }
    .custom-fontsize-content2 {
        font-size: 12px;
    }
    .custom-fontsize-content3 {
        font-size: 16px;
    }
    .container-fluid {
        margin: 0 -1% 0 -1%;
        cursor: pointer;
    }
    .custom-search {
        max-width: 90%;
        margin: 0 5%;
        align-content: center;
    }
    .btn-add {
        width: 10rem;
        margin: 0;
    }
    .filter {
        width: 100%;
        height: 100%;
    }
    .filter-add {
        max-width: 90%;
        align-self: center;
    }
    .w-max-xs {
        max-width: 88%;
    }
    .hidden-element {
        display: none;
    }
}
